body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    display:flex;
    flex-wrap: wrap;
    width:500px;
    height:500px;
    border: 1px solid #000;
    margin: auto 0 auto 0;
}
.square{
    box-sizing: border-box;
}
.header{
    width: 100%;
    text-align: center; 
}
.title{
    font-family: 'Lobster', cursive;
    font-size: 3rem; 
    color: #da2c38; 
}

